!!! 5
%html
  %head
    %meta(http-equiv="refresh" content="30")
    %link(rel="stylesheet" href="index.css")
    %link(rel="stylesheet" href="xmas/style.css")
  %body{ class: SeasonalFun.season }
    .container
      .column
        - if @broken_projects.empty?
          = haml :all_passing
        - else
          = haml :broken_projects
      .column
        - if @in_progress_projects.empty?
          = haml :recently_built_projects
        - else
          = haml :in_progress_projects
        = haml :time
      .column
        = haml :pull_requests
