%section{style: "border: #{@pull_request_count}px solid red"}
  %h2 Pull Requests
  - @pull_requests.each do |project, requests|
    .project-requests
      %h3
        = "#{project} (#{requests.count})"
      %table
        - requests.each do |request|
          %tr{class: "build_#{request.build_status}"}
            %td.set
              %img{src: request.user_avatar_url, width: 30, height: 30}
            %td.title
              %div
                =request.title
